@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  gap: 4rem;
  animation: scroll 20s linear infinite;
  width: max-content;
}

@font-face {
  font-family: "CustomFont";
  src: url("/Fonts/GeistMonoVF.woff") format("woff"),
    url("/Fonts/GeistMonoVF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px; /* More rounding for the thumb */
  border: 2px solid #f1f1f1; /* Adds a space around the thumb for better visual appeal */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Removing the scrollbar arrows in Chrome, Safari, and Edge */
::-webkit-scrollbar-button {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
